<h1>loglevel View</h1>
<select class="loglevel">
    <option value="TRACE">trace</option>
    <option value="DEBUG">debug</option>
    <option value="INFO">info</option>
    <option value="WARN" selected>warn</option>
    <option value="ERROR">error</option>
</select>
<div class="testlocal">
    <h2>test local</h2>
    <a class="start" href="#">start</a>
</div>
<div class="testhtml">
    <h2>test html</h2>
    <a class="htmlplugin" href="#">add plugin</a>
    <a class="start" href="#">start</a>
    <div class="logs">
    </div>
</div>
<div class="testserver">
    <h2>test server</h2>
    <a class="serverplugin" href="#">add plugin</a>
    <a class="start" href="#">start</a>
</div>
